<ion-header>
	<ion-navbar scroll-hide-translate color="lightmenu">
		<button ion-button menuToggle class="ripple">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>
			<img alt="logo"  src="./assets/imgs/logo.svg" style="max-height: 45px;">
		</ion-title>
		<ion-buttons start>
			<button ion-button icon-only (tap)='startVideo()'>
				<ion-icon name="ios-desktop-outline"></ion-icon>
			</button>
		</ion-buttons>
		<ion-buttons end>
			<button ion-button icon-only (tap)='openPlayer()' class="playerEtat_0 test">
				<ion-icon name="ios-radio-outline"></ion-icon>
			</button>
			<button ion-button icon-only (tap)='openPlayer()' class="playerEtat_1" style="display:none;">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" class="equilizer" viewBox="0 0 128 128">
						<g>
							<rect class="bar" transform="translate(0,0)" y="15"></rect>
							<rect class="bar" transform="translate(25,0)" y="15"></rect>
							<rect class="bar" transform="translate(50,0)" y="15"></rect>
							<rect class="bar" transform="translate(75,0)" y="15"></rect>
						</g>
					</svg>
				</div>
			</button>
			<button ion-button icon-only (tap)='openPlayer()' class="playerEtat_2" style="display:none;">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" class="equilizer" viewBox="0 0 128 128">
						<g>
							<rect class="bar_off" transform="translate(0,0)" y="15"></rect>
							<rect class="bar_off" transform="translate(25,0)" y="15"></rect>
							<rect class="bar_off" transform="translate(50,0)" y="15"></rect>
							<rect class="bar_off" transform="translate(75,0)" y="15"></rect>
						</g>
					</svg>
				</div>
			</button>
		</ion-buttons>
	</ion-navbar>
	<div class="progress-materializecss loadingaudio">
		<div class="indeterminate"></div>
	</div>
</ion-header>

<ion-content no-padding no-bounce id="page6" #pageContent style="background-color:#f9f9f9;">

	<ion-card no-padding style="margin-bottom:0px;border-bottom: 0px solid #833177; overflow-y:hidden;">
		<button no-padding ion-item (tap)='startAudio()'>
			<ion-card-content no-padding class="fadeintransition" style="position:relative;">
				<div style="background-color: #f1f1f1; position: relative;">
					<img id="coverPlayerHome" src="./assets/imgs/placeholder.png" style="background-color: #BCBBBB;" />
					<div class="fadebg" style="display:none;"></div>
					<ion-card-title style="display:none;color:#fff; position:absolute;bottom:10px;left:0px;right:0px;height:auto;font-size:20px !important;">
						<span class="card_categorie_home">En ce moment</span><br><span class="titre"></span> <span class="soustitre" style="font-size:14px;"></span>
					</ion-card-title>
				</div>
				<ion-fab center middle>
					<button ion-fab mode="md" color="danger" class="" (tap)='startAudio()'>
						<span class="btPlayerhome"></span>
					</button>
				</ion-fab>
			</ion-card-content>
		</button>
	</ion-card>
	<div class="subtitle">
		Web radios
	</div>
	<swiper [config]="config" style="border-bottom: 0px solid #f1f1f1;">
		<div class="swiper-wrapper">
			<div class="swiper-slide webradio id_4" style="margin-left:10px;" (tap)="startWebradios('4')">
				<img src="./assets/webradios/1.png">
				<ion-icon  name="ios-pause" style="display:none;" class="btwebradio pause"></ion-icon>
			</div>
			<div class="swiper-slide webradio id_6" (tap)="startWebradios('6')">
				<img src="./assets/webradios/2.png">
				<ion-icon  name="ios-pause" style="display:none;" class="btwebradio pause"></ion-icon>
			</div>

			<div class="swiper-slide webradio id_10" style="margin-right:20px;" (tap)="startWebradios('10')">
				<img src="./assets/webradios/3.png">
				<ion-icon  name="ios-pause" style="display:none;" class="btwebradio pause"></ion-icon>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</swiper>
	<div class="subtitle">
		On en parle sur LFM
	</div>
	<ion-grid *ngIf='posts' no-padding>
		<ion-row no-padding>
			<ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 no-padding *ngFor="let post of posts" class="animated fadeIn">
				<ion-card no-padding>
					<button no-padding ion-item (click)="showDetails(post.id,post.title,post.link_light)">
						<ion-card-content no-padding class="fadeintransition">
							<div style="background-color: #f1f1f1; position: relative;">
								<span class="card_categorie">{{post.chronique[0]}}</span>
								<img data-src="{{post.card}}" style="background-color: #BCBBBB;" />
							</div>
							<ion-card-title [innerHTML]="post.title"></ion-card-title>
						</ion-card-content>
					</button>
					<ion-row>
						<ion-col align-self-start>
							<p class="date" (tap)="opentest()"><i class="fas fa-dot-circle point"></i> {{post.date}}</p>
						</ion-col>
						<ion-col text-right align-self-start>
							<button ion-button icon-only clear mode="md" (tap)="share(post.title.rendered, post.card, post.link )">
								<ion-icon name="md-share" style="color:#A9A9A9;"></ion-icon>
							</button>
							<button ion-button clear icon-only mode="md" style="border-left:1px solid #f1f1f1;" (tap)="whatsappShare(post.title.rendered, post.card, post.link )">
								<ion-icon name="logo-whatsapp" style="color:#A9A9A9;"></ion-icon>
							</button>
						</ion-col>
					</ion-row>
				</ion-card>
				<div *ngIf="post.ads != 0">
					<a href="#" (tap)="this.iab.create(post.ads_l, '_blank','location=no,clearsessioncache=yes');">
						<img src="{{post.ads_i}}" border="0" alt="" />
					</a>
				</div>
			</ion-col>
		</ion-row>
	</ion-grid>
	<ion-fab right bottom>
		<button ion-fab color="primary" class="" (tap)='whatsapp()'>
			<ion-icon name="logo-whatsapp"></ion-icon>
		</button>
	</ion-fab>
</ion-content>