page-blog {

	ion-card-title {
		padding-left:10px !important;
		padding-right: 10px !important;
		font-size: 18px !important;
		font-weight: bold !important;
	}
	
	.card-md {
		margin:0px !important;
	}

	.date {
		padding-left:5px !important;
		padding-right: 10px !important;
		font-size: 13px !important;
		font-weight: lighter !important;
	}
		ion-footer {
			border-top: 3px solid #29B7C2;
			/*
			background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mP8/xQAAukB5vvocQUAAAAASUVORK5CYII=);
		*/
			background-color: #ffffff;
	}
	
	.scroll-content {
  margin-bottom: 0px !important; }

	#songCover {
		/*
		-webkit-box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 3px 12px px rgba(0,0,0,0.75);
box-shadow: -1px 3px 12px 0px rgba(0,0,0,0.75);
	*/
	}
	
	
.fakeItem {

	  @keyframes animatedBar{

		0%{

			background-position: -406px 0;

		}

		100%{

			background-position: 0 0;

		}

 }



  h2, h3, p {

    background-color: lightgrey;

    opacity: 0.5;

    height: 1em;

    margin-top: 10px;

    position: relative;

    background: linear-gradient(to right, #dddddd , #EEEEEE);

    animation: animatedBar 700ms linear infinite;

    

    &:after {

      position: absolute;

      display: block;

      content: '';

      right: 0;

      bottom: 0;

      top: 0;

      background-color: white;

    }

  }



  h2:after {

    width: 65%;

  }



  h3:after {

    width: 60%;

  }  



  p:after {

    width: 40%;

  }

}
	
}
