<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="ripple">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <img alt="logo" height="35" src="./assets/imgs/logo_radio.png" >
    </ion-title>

	  <ion-buttons end >
		  	 <button ion-button icon-only (tap)='openPlayer()' class="playerEtat_0">
      				<ion-icon name="md-radio"></ion-icon>
    		</button>
		  <button ion-button icon-only (tap)='openPlayer()' class="playerEtat_1"  style="display:none;">
		  	<div >
					<svg xmlns="http://www.w3.org/2000/svg" class="equilizer" viewBox="0 0 128 128">
						
					  <g>
						<rect class="bar" transform="translate(0,0)" y="15"></rect>
						<rect class="bar" transform="translate(25,0)" y="15"></rect>
						<rect class="bar" transform="translate(50,0)" y="15"></rect>
						<rect class="bar" transform="translate(75,0)" y="15"></rect>
					  </g>
							
					</svg>
			  </div>
		 	</button>
		  <button ion-button icon-only (tap)='openPlayer()' class="playerEtat_2" style="display:none;">
		  	<div >
					<svg xmlns="http://www.w3.org/2000/svg" class="equilizer" viewBox="0 0 128 128">
					  <g>
						<rect class="bar_off" transform="translate(0,0)" y="15"></rect>
						<rect class="bar_off" transform="translate(25,0)" y="15"></rect>
						<rect class="bar_off" transform="translate(50,0)" y="15"></rect>
						<rect class="bar_off" transform="translate(75,0)" y="15"></rect>
					  </g>
					</svg>
			  </div>
		 	</button>
	</ion-buttons>

  </ion-navbar>
	<div class="subtitle">
		{{title}}
	</div>
</ion-header>

<ion-content no-padding id="page6" #pageContent>
	<ion-slides *ngIf='!postsLoading'>
        <ion-slide>
            <ion-spinner name="crescent"></ion-spinner>
        </ion-slide>
    </ion-slides>
	<ion-refresher (ionRefresh)="update($event)">
			<ion-refresher-content
			  pullingIcon="ios-arrow-down-outline"
			  
			  refreshingSpinner="crescent">
			</ion-refresher-content>
	</ion-refresher>
 <ion-grid *ngIf='posts' no-padding>
				<ion-row no-padding> 
				 <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 no-padding *ngFor="let post of posts" >
					 <ion-card no-padding style="margin-bottom:0px; border-bottom: 6px solid #f1f1f1;">

							<button no-padding ion-item (tap)="showDetails(post.id,post.title,post.link)">
								<ion-card-content no-padding class="fadeintransition" >
									<div style="background-color: #f1f1f1; position: relative;">	
										<span class="card_categorie">{{post.chronique[0]}}</span>				
										<img data-src="{{post.card}}" style="background-color: #BCBBBB;" />
									</div>
									<ion-card-title [innerHTML]="post.title"></ion-card-title>

								</ion-card-content>
							</button>

					<ion-row>

					   <ion-col align-self-start>
						   <p class="date"><i class="fas fa-dot-circle point"></i> {{post.date}}</p>
					   </ion-col>
					   <ion-col text-right align-self-start>
							<button ion-button icon-only clear mode="md" (tap)="share(post.title, post.card, post.link )">
								<ion-icon name="md-share" style="color:#A9A9A9;"></ion-icon>
							</button>
						   <button ion-button clear icon-only mode="md" style="border-left:1px solid #f1f1f1;" (tap)="whatsappShare(post.title, post.card, post.link )">
								<ion-icon name="logo-whatsapp" style="color:#A9A9A9;"></ion-icon>
							</button>					
					  </ion-col>
					 </ion-row>
				  </ion-card>
					 
					 	<div *ngIf="post.ads != 0">				
<a href="#" (tap)="this.iab.create(post.ads_l, '_blank','location=no,clearsessioncache=yes');">                
	<img src="http://1x1px.me/FFFFFF-1.png" data-src="{{post.ads_i}}" border="0" alt="" />
</a>				 
					 </div>	
					 
						</ion-col>
			</ion-row>
	 
		</ion-grid>  
		  
		<ion-infinite-scroll (ionInfinite)="loadMore($event)" threshold="30%" loadingSpinner="bubbles" loadingText="Chargement...">
    		<ion-infinite-scroll-content></ion-infinite-scroll-content>
  		</ion-infinite-scroll>
	
		</ion-content>
		<ion-footer [scrollHide]="footerScrollConfig" [scrollContent]="pageContent"  style="display:none;">
		   <ion-grid style="max-height: 110px;">
			  <ion-row align-items-center>
				<ion-col col-2 style="max-width: 80px; text-align: center;" justify-content-center> 
						<ion-spinner class="loadingPlayer" style="display:none;height:40px;width:40x;" name="crescent"></ion-spinner>
						<span (click)="startAudio()" class="btPlayer" style="color:#29B7C2;"><i class="fas fa-play-circle fa-3x"></i></span>
				</ion-col>                 
				<ion-col col-7>
					<div (tap)='openPlayer()'>
					<span style="color:#000;font-family: 'Days One', sans-serif; font-size: 13px; font-weight: bolder;" class="songTitle">&nbsp;</span><br>
					<span style="color:#000;font-family: 'Days One', sans-serif; font-size: 12px;" class="songArtist">&nbsp;</span>
					</div>
				  </ion-col>
				<ion-col col-3  style="text-align: right;">
					<div (tap)='openPlayer()'>
						<img class="songCover" src="https://www.onefm.ch/wp-content/themes/mog-child/webradios/0.jpg" style=" max-height: 55px;" />
					</div>
				</ion-col>
			  </ion-row>
			</ion-grid> 
</ion-footer>