<ion-header>
  <ion-toolbar  (click)="dismiss()">
    <ion-title>
      Chroniques
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()" icon-start>
        <ion-icon name="ios-arrow-down" showWhen="android,windows, ios"></ion-icon>
		  Annuler
      </button>
    </ion-buttons>
	  
  </ion-toolbar>
</ion-header>

    <ion-content class="alpha-list-page">
		<ion-slides *ngIf='!postsLoading'>
        <ion-slide>
            <ion-spinner name="crescent"></ion-spinner>
        </ion-slide>
    </ion-slides>
		 <div *ngIf='posts'>
      <ion-alpha-scroll
        [listData]="posts"
        key="name"
        [itemTemplate]="alphaScrollItemTemplateRef"
        [currentPageClass]="currentPageClass"
        [triggerChange]="triggerAlphaScrollChange">

          <ng-template #alphaScrollItemTemplateRef let-item>
            <ion-item (click)="selectionClose(item.id,item.name)">{{item.name}}</ion-item>
          </ng-template>

      </ion-alpha-scroll>
		</div>
    </ion-content>