page-player {
	ion-segment {
	}
	
	.bg {
  margin-left: -25vw;
  top: -25vh;
  width: 150vw;
  position: fixed;
  z-index: -1;
  -webkit-filter: blur(40px);
          filter: blur(40px);
}
	
	
	.noize{
	background-color: #f6f6f6;
		
		background-size: cover;

	
	
	}
	
	.profile-image{
    img{
        height: 200px;
        width: 200px;
        border-radius:3%;
        border: 0px solid #010101;
    }
	
}
	
		h1 {
	color:  #29b7c2;
    font-size: 25px;
    font-weight: lighter;
	}
		h2 {
	color: #000;
    font-size: 15px;
    font-weight: lighter;
			padding-left:10px;
			padding-right:10px;
	}
	h3 {
		color: #000; 
		font-size: 14px;
		margin-bottom:  0px;
	}
.scroll-content {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
}
