page-actualite .SwipedTabs-indicatorSegment {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  transform-origin: top 0 left 0;
  height: 1px;
  position: relative;
  top: -2px;
  background-color: black !important; }
page-actualite .SwipedTabs-tabs ion-segment-button {
  border: none !important;
  color: gray !important;
  background-color: white !important; }
page-actualite .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab {
  color: black !important; }
page-actualite .SwipedTabs-tabs {
  border-bottom: solid 1px #e6e6e6  !important; }
page-actualite .swiper-slide {
  float: left;
  width: auto; }
page-actualite .spinnerCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; }
page-actualite .header-md::after {
  background-image: none; }
page-actualite .has-refresher > .scroll-content {
  border-top: 0px solid #ddd; }
page-actualite .header-ios .btFiltre {
  position: fixed;
  top: 73px;
  height: 70px;
  width: 100%;
  text-align: center; }
page-actualite .header-md .btFiltre {
  position: fixed;
  top: 65px;
  height: 50px;
  width: 100%;
  text-align: center; }
page-actualite .content-ios .grid {
  margin-top: 65px; }
page-actualite .content-md .grid {
  margin-top: 45px; }
page-actualite ion-content.has-refresher > .scroll-content {
  background-color: transparent; }
page-actualite #tags::-webkit-scrollbar, page-actualite #tags::-webkit-scrollbar {
  display: none; }
