page-podcasts {

	 	.SwipedTabs-indicatorSegment{
        -webkit-transition: 0.3s all;
        -moz-transition:  0.3s all;
        -o-transition:  0.3s all;
        transition:  0.3s all;
        transform-origin: top 0 left 0;
        height: 1px;
	    position: relative;
	    top: -2px;
	    background-color: black !important;
    }
    .SwipedTabs-tabs ion-segment-button
    {
    	border:none !important;
    	color:gray!important;
    	background-color:white!important;
    }
     .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab
    {
        color:black !important;
    }
    .SwipedTabs-tabs
    {
    	border-bottom: solid 1px #e6e6e6  !important;
    }
	
	.has-refresher > .scroll-content {
		border-top: 0px solid #ddd;
	}

	.header-ios	.btFiltre {
		   position:fixed;
		   top:73px;
		   height:70px;
			width:100%;
			text-align: center;
	}
	.header-md	.btFiltre {
		   position:fixed;
		   top:65px;
		   height:50px;
			width:100%;
			text-align: center;
	}
	
	.content-ios .gridFiltre {
		margin-top:65px;
	}
	.content-md .gridFiltre {
		margin-top:45px;
	}
	
	.refreshFiltre {
		margin-top:60px;
	}
	
ion-content.has-refresher > .scroll-content {
    background-color: transparent;
}


	
@media (min-width: 992px) {
  .podcast_tab{
   display: block !important;
  }
	.podcast_mobile{
   display: none !important;
  }
	
}
	
 	


}
