<ion-header no-border>
  <ion-navbar color="lightmenu">
    <button ion-button menuToggle class="ripple">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Replay
    </ion-title>

	  <ion-buttons end >
		  	 <button ion-button icon-only (tap)='openPlayer()' class="playerEtat_0">
      				<ion-icon name="md-radio"></ion-icon>
    		</button>
		  <button ion-button icon-only (tap)='openPlayer()' class="playerEtat_1"  style="display:none;">
		  	<div >
					<svg xmlns="http://www.w3.org/2000/svg" class="equilizer" viewBox="0 0 128 128">
						
					  <g>
						<rect class="bar" transform="translate(0,0)" y="15"></rect>
						<rect class="bar" transform="translate(25,0)" y="15"></rect>
						<rect class="bar" transform="translate(50,0)" y="15"></rect>
						<rect class="bar" transform="translate(75,0)" y="15"></rect>
					  </g>
							
					</svg>
			  </div>
		 	</button>
		  <button ion-button icon-only (tap)='openPlayer()' class="playerEtat_2" style="display:none;">
		  	<div >
					<svg xmlns="http://www.w3.org/2000/svg" class="equilizer" viewBox="0 0 128 128">
					  <g>
						<rect class="bar_off" transform="translate(0,0)" y="15"></rect>
						<rect class="bar_off" transform="translate(25,0)" y="15"></rect>
						<rect class="bar_off" transform="translate(50,0)" y="15"></rect>
						<rect class="bar_off" transform="translate(75,0)" y="15"></rect>
					  </g>
					</svg>
			  </div>
		 	</button>
	</ion-buttons>
  </ion-navbar>
	
	<div class="btFiltre" *ngIf='filtre!="0"'>
		<button ion-button icon-end round color="light" (click)="closeChroniques();">
			{{filtre_titre}} 
			<ion-icon name="close"></ion-icon>
		</button>
	</div>
	
</ion-header>

<ion-content>
	
	<ion-refresher (ionRefresh)="update($event)" pullMin="100" pullMax="1000">
			<ion-refresher-content
			  pullingIcon="ios-arrow-down-outline"
			  
			  refreshingSpinner="crescent">
			</ion-refresher-content>
	</ion-refresher>
	<ion-grid no-padding>
        <ion-row no-padding> 
		 <ion-col col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 no-padding *ngFor="let post of posts" >
			 
			 <ion-card item-start no-padding style="margin-bottom:10px !important;" *ngIf='post._url_podcast_video;else podcasts' (tap)="openPlayerVideo(post._url_podcast_video,post.card)">
						<ion-card-content no-padding class="fadeintransition_">
							<div style="background-color: #f1f1f1; position: relative;">	
								<span class="card_categorie" style="display:none; ">{{post.chronique[0]}}</span>
								<span class="card_icon"><i class="fas fa-play-circle fa-3x"></i></span>
								<img src="{{post.card}}" style="background-image: url('./assets/imgs/placeholder.png');" />
							</div>
							<ion-card-title [innerHTML]="post.title"></ion-card-title>
						</ion-card-content>
						<ion-row>
						   <ion-col align-self-start>
							   <p class="date"><i class="fas fa-dot-circle point"></i> {{post.date}}</p>
						   </ion-col>
						   <ion-col text-right align-self-start>
								<button ion-button clear icon-only mode="md" (tap)="share(post.title, post.card, post.link )">
									<ion-icon name="md-share" style="color:#A9A9A9;"></ion-icon>
								</button>
							   <button ion-button clear icon-only mode="md" style="border-left:1px solid #f1f1f1;" (tap)="whatsappShare(post.title, post.card, post.link )">
									<ion-icon name="logo-whatsapp" style="color:#A9A9A9;"></ion-icon>
								</button>					
						  </ion-col>
						 </ion-row>
			 </ion-card>
			 <ng-template #podcasts>
				
					 <ion-card no-padding style="margin-bottom:10px; border-bottom: 0px solid #f1f1f1;" class="podcast_mobile">
						<ion-card-content no-padding class="fadeintransition">
							  <ion-item (tap)="configPlayer(post.title, './assets/imgs/podcasts.jpg', post.chronique[0], post.date, post._url_podcast)" style="padding-left: 5px; border-bottom: 0px solid #fff;">
									<ion-thumbnail item-start>
									  <img src="./assets/imgs/podcasts_.jpg">
									</ion-thumbnail>
									<span class="card_categorie_podcast">{{post.chronique[0]}}</span>
									<h2 style="font-size:13px;">{{post.title}}</h2>
									<p class="date_podcast"><i class="fas fa-dot-circle point"></i> {{post.date}}</p>
							  </ion-item>
						</ion-card-content>		
					</ion-card>
				 
				 
				 <ion-card no-padding style="display:none; margin-bottom:10px !important;" class="podcast_tab" (tap)="configPlayer(post.title, './assets/imgs/podcasts.jpg', post.chronique[0], post.date, post._url_podcast)">
					<ion-card-content no-padding class="fadeintransition">
							<div style="background-color: #f1f1f1; position: relative;">	
								<span class="card_categorie">{{post.chronique[0]}}</span>
								<span class="card_icon"><i class="fas fa-play-circle fa-3x"></i></span>
								<img *ngIf='post.card' src="{{post.card}}" />
							</div>
							<ion-card-title [innerHTML]="post.title"></ion-card-title>
						</ion-card-content>	
					 <ion-row>
						   <ion-col align-self-start>
							   <p class="date"><i class="fas fa-dot-circle point"></i> {{post.date}}</p>
						   </ion-col>
						   <ion-col text-right align-self-start>
								<button ion-button clear icon-only mode="md" (tap)="share(post.title, post.card, post.link )">
									<ion-icon name="md-share" style="color:#A9A9A9;"></ion-icon>
								</button>
							   <button ion-button clear icon-only mode="md" style="border-left:1px solid #f1f1f1;" (tap)="whatsappShare(post.title, post.card, post.link )">
									<ion-icon name="logo-whatsapp" style="color:#A9A9A9;"></ion-icon>
								</button>					
						  </ion-col>
						 </ion-row>
					</ion-card>	 
				
			 </ng-template>
			</ion-col>
		</ion-row>
    </ion-grid>  
			<ion-infinite-scroll *ngIf="postsLoading!='0'" (ionInfinite)="loadMore($event)" threshold="30%" loadingSpinner="crescent" loadingText="Chargement...">
    		<ion-infinite-scroll-content></ion-infinite-scroll-content>
  		</ion-infinite-scroll>

<ion-fab right bottom>
	<button ion-fab color="primary" class="" (tap)='openChroniques()'><ion-icon name="funnel"></ion-icon></button>
</ion-fab>	
	
</ion-content>