page-podcasts .SwipedTabs-indicatorSegment {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  transform-origin: top 0 left 0;
  height: 1px;
  position: relative;
  top: -2px;
  background-color: black !important; }
page-podcasts .SwipedTabs-tabs ion-segment-button {
  border: none !important;
  color: gray !important;
  background-color: white !important; }
page-podcasts .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab {
  color: black !important; }
page-podcasts .SwipedTabs-tabs {
  border-bottom: solid 1px #e6e6e6  !important; }
page-podcasts .header-ios .btFiltre {
  position: fixed;
  top: 50px;
  height: 50px;
  width: 100%;
  text-align: center; }
page-podcasts .header-md .btFiltre {
  position: fixed;
  top: 65px;
  height: 50px;
  width: 100%;
  text-align: center; }
page-podcasts .content-ios .marginFiltre {
  padding-top: 53px; }
page-podcasts .content-md .marginFiltre {
  padding-top: 53px; }
@media (min-width: 992px) {
  page-podcasts .podcast_tab {
    display: block !important; }
  page-podcasts .podcast_mobile {
    display: none !important; } }
