page-podcasts {
	.scroll-content {
  margin-bottom: 0px !important; }


	
@media (min-width: 992px) {
  .podcast_tab{
   display: block !important;
  }
	.podcast_mobile{
   display: none !important;
  }
	
}



}
